Babel==2.3.4
Django==1.10.5
PyYAML==3.12
astroid==1.1.1
atc-thrift==0.1.6
atcd==0.1.6
awsebcli==3.12.1
backports.functools-lru-cache==1.4
bitarray==0.8.1
blessed==1.14.2
botocore==1.7.43
cement==2.8.2
colorama==0.3.7
cycler==0.10.0
daemonize==2.4.7
debtcollector==1.11.0
dj==0.1
django-atc-api==0.1.6
django-atc-demo-ui==0.1.6
django-atc-profile-storage==0.1.6
django-bootstrap-themes==3.3.6
django-static-jquery==1.11.1
djangorestframework==3.5.4
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
ecdsa==0.11
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.1
funcsigs==1.0.2
futures==3.0.5
ipaddr==2.1.11
jmespath==0.9.3
logilab-common==0.61.0
lxml==3.3.5
matplotlib==2.1.0
mininet==2.2.1
mock==1.0.1
netaddr==0.7.15
networkx==2.0
numpy==1.13.3
oslo.config==3.22.0
oslo.i18n==3.12.0
ovs==2.6.1
paramiko==1.14.0
pathspec==0.5.0
pbr==1.10.0
pycrypto==2.6.1
pyflakes==0.8.1
pylint==1.2.1
pyotp==1.4.1
pyparsing==2.2.0
pyroute2==0.3.3
python-dateutil==2.6.1
pytz==2017.3
requests==2.9.1
rfc3986==0.4.1
ryu==4.10
scikit-fuzzy==0.3.1
scikit-image==0.13.1
semantic-version==2.5.0
six==1.11.0
sparts==0.7.1
stevedore==1.20.0
subprocess32==3.2.7
tabulate==0.7.5
termcolor==1.1.0
thrift==0.10.0
tinyrpc==0.5
virtualenv==15.1.0
wcwidth==0.1.7
websocket-client==0.44.0
wrapt==1.10.8
xlwt==1.2.0
xml-compare==1.0.5
